# SQL TIPS AND TRICKS

1\. Heading

USe Case  
Explanation  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">5</span> c.city\_id, c.store\_city, p.product\_name

<span style="color: #0000ff;">FROM</span> dbo.cities\_dim c

<span style="color: #0000ff;">INNER JOIN</span> dbo.products\_dim p <span style="color: #0000ff;">ON</span> p.product\_id <span style="color: #000000;">=</span> (

    <span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">1</span> product\_id

    <span style="color: #0000ff;">FROM</span> dbo.transactions\_fact t

    <span style="color: #0000ff;">WHERE</span> t.city\_id <span style="color: #000000;">=</span> c.city\_id);

In [2]:
SELECT TOP 5 c.city_id, c.store_city, p.product_name
FROM dbo.cities_dim c
INNER JOIN dbo.products_dim p ON p.product_id = (
    SELECT TOP 1 product_id
    FROM dbo.transactions_fact t
    WHERE t.city_id = c.city_id);

city_id,store_city,product_name
2,Bellingham,Tip Top Lox
3,Bremerton,Great Bagels
6,Beverly Hills,Sunset 60 Watt Lightbulb
7,Los Angeles,Ebony Prepared Salad
11,Portland,Red Wing Bees Wax Candles

In [2]:
SELECT c.store_city
FROM dbo.cities_dim c
WHERE c.store_city LIKE 'San%'

store_city
San Francisco
San Diego